<aside class="right">  
    	<div class="resume">
	    <p>网名：<span>{{.options.nickname}}</span></p>
	    <p>生日：1983-09-01</p>
	    <p>籍贯：湖北省 汉川市</p>
	    <p>现居：广东省 深圳市</p>
	    <p>职业：测试开发架构师</p>
	    <p>爱好：美食 艺术 运动 旅行 摄影</p>
	    <p>运动：羽毛球 跑步 爬山 游泳</p>
	    <p>喜欢的音乐：《Love mail》</p>
	    <p>喜欢的动漫：《魁拔》</p>
	    <p><a target="_blank" href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=bR8CFEMPGB8DHi0cHEMOAgA" style="text-decoration:none;"><img src="http://rescdn.qqmail.com/zh_CN/htmledition/images/function/qm_open/ico_mailme_01.png"/></a></p>
	</div>
	<div class="aboutme"><div/>
</aside>
